* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  height: 100vh;
}

.header,
.menu,
.sidebar,
.content,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px #000;
}

.header {
  height: 100px;
}

.menu {
  height: 60px;
}

.box {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 400px;
}

.content {
  width: 100%;
}

.footer {
  height: 100px;
}
