* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.header,
.menu,
.sidebar,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  padding-left: 30px;
}

.content * {
  margin-top: 10px;
}

.header {
  height: 100px;
  background: #333333;
  color: #f8f8f8;
}

.menu {
  height: 60px;
  border-bottom: solid 1px #333333;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__item:not(:first-child) {
  margin-left: 15px;
}

.menu__link {
  text-decoration: none;
  color: #000;
}

.box {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 300px;
  flex-direction: column;
}

.article-link {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}

.article-link:not(:first-child) {
  margin-top: 30px;
}

.article-link:hover {
  color: #8257e5;
}

.content {
  width: 100%;
  padding: 30px;
}

.section {
  max-width: 800px;
  width: 100%;
}

.footer {
  height: 100px;
  border-top: solid 1px #333333;
}

.btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.btn__primary {
  background: #8257e5;
}

.btn__secondary {
  background: #333333;
}
